<div class="padded">
  <h2 class="text-center">Our team</h2>
  <ul class="list-inline text-center">
    <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
    <% end %>
  </ul>
  <h3 class="padded text-center">
    <a href="mailto:contact@airbnb.com">
        <i class="fa fa-envelope"></i> contact@airbnb.com
      </a>
      </h3>
</div>
